body {
    font-family: 'Orbitron', sans-serif;
}
.desktopNav__lower .nav-link {
    color: #fff;
    transition: color 0.3s;
}
.desktopNav__lower .nav-link:hover {
    color: #f00;
}
.form-control-custom::placeholder {
    color: #bbbbbb;
}
.form-control-custom:focus {
    background-color: #333333;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.navbar-custom .nav-link {
    color: #ffffff;
}